name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      TEST_DB_URL: postgres://postgres:postgres@localhost:5432/hello_poetry_test
      NODE_ENV: test
      PORT: 5000
      BCRYPT_SALT_ROUNDS: 5
      JWT_SECRET: 123456789supersecretkey987654321

    services:
      postgres:
        image: postgres:16
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: hello_poetry_test
        options: >-
          --health-cmd="pg_isready -U postgres" --health-interval=5s
          --health-timeout=5s --health-retries=5

    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v1

      - run: bun install
      - run: bun generate
      - run: bun reset
      - run: bun seed
      - run: bun test --coverage

  quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      - run: bun install
      - run: bun lint
      - run: bun format

  build:
    runs-on: ubuntu-latest
    needs: [test, quality]
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      - run: bun install
      - run: bun generate
      - run: bun run build
