name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  quality:
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: postgresql://postgres:postgres@localhost:5432/hello_poetry_test

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: bun install

      - name: Generate models
        run: bun generate

      - name: Lint
        run: bun lint

      - name: Format
        run: bun format

      - name: Metrics
        run: bun metrics
