name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  quality:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: bun install

      - name: Lint
        run: bun lint

      - name: Format
        run: bun format

      - name: Metrics
        run: bun metrics

      - name: TS type check
        run: bun typecheck

  test:
    runs-on: ubuntu-latest
    needs: quality
    env:
      DATABASE_URL: postgresql://postgres:postgres@localhost:5432/hello_poetry_test
      BCRYPT_SALT_ROUNDS: 5
      JWT_SECRET: supersecret
    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: hello_poetry_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready --health-interval 10s --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: bun install

      - name: Run tests
        run: bun test:all
